<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        img(src="/boombox.jpg", alt="")
        .boombox
            .bb__body

                - for (var $i = 0; $i < 2; ++$i) {
                .big__sp
                    .big__sp__box                       
                        .big__sp__box__out
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                                
                            .big__sp__box__out__outline
                            .big__sp__box__out__inner1
                            .big__sp__box__out__inner2
                            .big__sp__box__out__inner3
                            .big__sp__box__out__inner4
                            .big__sp__box__out__mesh

                .top__sp__box
                    .top__sp__box__leftsp
                        .top__sp__box__leftsp__stick
                        .top__sp__box__leftsp__stick
                        .top__sp__box__leftsp__inners
                            .top__sp__box__leftsp__inners__inner1
                            .top__sp__box__leftsp__inners__inner2
                            .top__sp__box__leftsp__inners__inner3
                        .top__sp__box__leftsp__mesh
                        
                    .top__sp__box__rightsp
                        .top__sp__box__rightsp__mid
                            .top__sp__box__rightsp__mid__mesh
                        .top__sp__box__rightsp__screw
                        .top__sp__box__rightsp__screw
                        .top__sp__box__rightsp__screw
                        .top__sp__box__rightsp__screw
                    .top__sp__box__btm
                        .top__sp__box__btm__shade
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                        .top__sp__box__btm__light
                - }

                .middle
                    .middle__section1
                    .middle__section2

                    
                    .middle__section3
                        .middle__section3__box
                            
                            .middle__section3__box__cassets
                                .middle__section3__box__cassets__box
                                    .middle__section3__box__cassets__box__inner
                                        .middle__section3__box__cassets__box__inner__in                                  
                                            .middle__section3__box__cassets__box__inner__in__window
                                                .middle__section3__box__cassets__box__inner__in__window__tape1
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__center__outline  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__center
                                                        - for (var $i = 0; $i < 6; ++$i) {
                                                        .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots
                                                        - }  
                                                .middle__section3__box__cassets__box__inner__in__window__tape2
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__center__outline  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__center
                                                        - for (var $i = 0; $i < 6; ++$i) {
                                                        .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots
                                                        - }  
                                            .middle__section3__box__cassets__box__inner__in__window__glare   
                                            .middle__section3__box__cassets__box__inner__in__label
                                .middle__section3__box__cassets__label1
                                .middle__section3__box__cassets__label2__box
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                            .middle__section3__box__cassets__glare
                            
                            .middle__section3__box__cassets
                                .middle__section3__box__cassets__box
                                    .middle__section3__box__cassets__box__inner.casset2__color
                                        .middle__section3__box__cassets__box__inner__in                                  
                                            .middle__section3__box__cassets__box__inner__in__window
                                                .middle__section3__box__cassets__box__inner__in__window__tape1
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__center__outline  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape1__center
                                                        - for (var $i = 0; $i < 6; ++$i) {
                                                        .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots
                                                        - }  
                                                .middle__section3__box__cassets__box__inner__in__window__tape2
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__holes  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__center__outline  
                                                    .middle__section3__box__cassets__box__inner__in__window__tape2__center
                                                        - for (var $i = 0; $i < 6; ++$i) {
                                                        .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots
                                                        - }  
                                            .middle__section3__box__cassets__box__inner__in__window__glare.cassete2__shadow   
                                            .middle__section3__box__cassets__box__inner__in__label.casset2__color 
                                //- .middle__section3__box__cassets__label1.cassets2__label
                                .middle__section3__box__cassets__label2__box.cassets2__label2__box
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                                    .middle__section3__box__cassets__label2
                            .middle__section3__box__cassets__glare
   
                            .middle__section3__box__mid
                                .middle__section3__box__mid__box1
                                .middle__section3__box__mid__box2
                                .middle__section3__box__mid__box3
                                    .middle__section3__box__mid__box3__lines
                                .middle__section3__box__mid__switch
                                .middle__section3__box__mid__glare
                            
                    .middle__section4
                        .middle__section4__red
                            .middle__section4__red__grip

                        .middle__section4__switches
                            - for (var $i = 0; $i < 6; ++$i) {
                            .middle__section4__switches__sw
                                .middle__section4__switches__sw__grip
                            - }
                        .middle__section4__switches
                            - for (var $i = 0; $i < 6; ++$i) {
                            .middle__section4__switches__sw
                                .middle__section4__switches__sw__grip
                            - }
 
                    .middle__section5
                        .middle__section5__center__lines
                        .middle__section5__left__lines
                        .middle__section5__left__lines.right__lines
                        .middle__section5__right__lines
                        .middle__section5__karaoke

                        - for (var $i = 0; $i < 3; ++$i) {
                        .middle__section5__big__eq
                            .middle__section5__big__eq__lv
                        - }

                        .middle__section5__sm
                            - for (var $i = 0; $i < 10; ++$i) {
                            .middle__section5__sm__eq
                                .middle__section5__sm__eq__lv
                            - }

                        .middle__section5__left
                            .middle__section5__left__box
                            .middle__section5__left__top
                            .middle__section5__left__hole
                            .middle__section5__left__hole
                        .middle__section5__left
                            .middle__section5__left__box
                            .middle__section5__left__top
                            .middle__section5__left__hole
                            .middle__section5__left__hole
                        .middle__section5__right
                            .middle__section5__right__box
                            .middle__section5__right__top
                            .middle__section5__right__hole

                        


