<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        img(src="/boombox.jpg", alt="")
        .boombox
            .bb__body
                .big__sp
                    .big__sp__box                       
                        .big__sp__box__out
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                            .big__sp__box__out__edge
                                .big__sp__box__out__edge__screw
                                
                            .big__sp__box__out__shade
                            .big__sp__box__out__inner1
                            .big__sp__box__out__inner2
                            .big__sp__box__out__inner3
                            .big__sp__box__out__inner4

                .top__sp__box
                    .top__sp__box__leftsp
                        .top__sp__box__leftsp__stick
                        .top__sp__box__leftsp__stick
                        .top__sp__box__leftsp__inners
                            .top__sp__box__leftsp__inners__inner1
                            .top__sp__box__leftsp__inners__inner2
                            .top__sp__box__leftsp__inners__inner3
                        //- .top__sp__box__leftsp__mesh
                        
                    .top__sp__box__rightsp
                        .top__sp__box__rightsp__mid
                            .top__sp__box__rightsp__mid__mesh
                        .top__sp__box__rightsp__screw
                        .top__sp__box__rightsp__screw
                        .top__sp__box__rightsp__screw
                        .top__sp__box__rightsp__screw
                    .top__sp__box__btm
                        .top__sp__box__btm__shade