@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --size: 120;
  --unit: calc((var(--size) / 242) * 1vmin);
}

body {
  background: #595455;
  min-height: 100vh;
}

img {
  height: calc(var(--size) * 1vmin);
  opacity: 0.8;
}

img,
.boombox {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.transCenter, .boombox .bb__body .big__sp__box__out__edge__screw, .boombox .bb__body .big__sp__box__out__outline, .boombox .bb__body .big__sp__box__out__inner1, .boombox .bb__body .big__sp__box__out__inner2, .boombox .bb__body .big__sp__box__out__inner3, .boombox .bb__body .big__sp__box__out__inner4, .boombox .bb__body .big__sp__box__out__mesh, .boombox .bb__body .top__sp__box__leftsp__mesh, .boombox .bb__body .top__sp__box__leftsp__inners, .boombox .bb__body .top__sp__box__leftsp__inners__inner1, .boombox .bb__body .top__sp__box__leftsp__inners__inner2, .boombox .bb__body .top__sp__box__leftsp__inners__inner3, .boombox .bb__body .top__sp__box__rightsp__mid, .boombox .bb__body .top__sp__box__btm__shade, .boombox .bb__body .middle__section3__box, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1::after, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__holes, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center::after, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__outline, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2::after, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__holes, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center::after, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots, .boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__outline, .boombox .bb__body .middle__section4__red__grip, .boombox .bb__body .middle__section5__center__lines, .boombox .bb__body .middle__section5__left__lines, .boombox .bb__body .middle__section5__right__lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.boombox {
  width: calc(362 * var(--unit));
  height: calc(242 * var(--unit));
  border: 2px solid red;
  overflow: hidden;
}

.boombox .bb__body {
  position: absolute;
  top: 14%;
  left: 2%;
  width: 96%;
  height: 72%;
  overflow: hidden;
}

.boombox .bb__body .big__sp {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 29%;
  height: 59%;
}

.boombox .bb__body .big__sp:nth-child(1) {
  left: 71%;
}

.boombox .bb__body .big__sp__box {
  position: absolute;
  top: 2%;
  left: 4%;
  width: 92%;
  height: 93%;
  overflow: hidden;
}

.boombox .bb__body .big__sp__box__out {
  position: absolute;
  top: -5%;
  left: -7%;
  width: calc(106 * var(--unit));
  height: calc(106 * var(--unit));
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(45deg, #929292, #6c6c6c, #929292, #cfcfcf, #dfdfdf, #cfcfcf);
  -webkit-filter: drop-shadow(0 2px 0.8px #1e1a1b);
          filter: drop-shadow(0 2px 0.8px #1e1a1b);
}

.boombox .bb__body .big__sp__box__out__edge {
  position: absolute;
  width: 15%;
  height: 7%;
  background: #929292;
}

.boombox .bb__body .big__sp__box__out__edge::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 40%;
  background: linear-gradient(10deg, transparent 0 50%, #dfdfdf 50% 60%, #929292 100%);
}

.boombox .bb__body .big__sp__box__out__edge::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 0%;
  width: 100%;
  height: 40%;
  background: linear-gradient(-10deg, #6c6c6c 0, #929292 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(1) {
  top: 13%;
  left: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(2) {
  top: 13%;
  right: 10%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(2)::before {
  background: linear-gradient(10deg, transparent 0 50%, #929292 50% 60%, #6c6c6c 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(2)::after {
  background: linear-gradient(-10deg, #dfdfdf 0 20%, #cfcfcf 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(3) {
  bottom: 13%;
  right: 10%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(3)::before {
  background: linear-gradient(10deg, transparent 0 50%, #929292 50% 60%, #6c6c6c 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(3)::after {
  background: linear-gradient(-10deg, #929292 0, #dfdfdf 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(4) {
  bottom: 13%;
  left: 10%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(4)::before {
  background: linear-gradient(10deg, transparent 0 50%, #dfdfdf 50% 60%, #929292 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(4)::after {
  background: linear-gradient(-10deg, #6c6c6c 0, #929292 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge__screw {
  position: absolute;
  width: calc(4 * var(--unit));
  height: calc(4 * var(--unit));
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #dfdfdf;
  background: #929292;
}

.boombox .bb__body .big__sp__box__out__outline {
  position: absolute;
  width: 83%;
  height: 83%;
  border-radius: 100%;
  background: #393636;
  border: calc(2 * var(--unit)) solid #929292;
}

.boombox .bb__body .big__sp__box__out__inner1 {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background: #393636;
  border: calc(1 * var(--unit)) solid #dfdfdf;
}

.boombox .bb__body .big__sp__box__out__inner2 {
  position: absolute;
  width: 54%;
  height: 54%;
  border-radius: 100%;
  background: #4e4b4a;
}

.boombox .bb__body .big__sp__box__out__inner3 {
  position: absolute;
  width: 28%;
  height: 28%;
  border-radius: 100%;
  background: #929292;
}

.boombox .bb__body .big__sp__box__out__inner4 {
  position: absolute;
  width: 25%;
  height: 25%;
  border: calc(2 * var(--unit)) solid #393636;
  border-radius: 100%;
  background: linear-gradient(45deg, #929292, #6c6c6c, #929292, #cfcfcf, #dfdfdf, #cfcfcf);
}

.boombox .bb__body .big__sp__box__out__mesh {
  opacity: 0.7;
  position: absolute;
  width: 80%;
  height: 80%;
  border: calc(1 * var(--unit)) solid #b74444;
  border-radius: 100%;
  background-image: radial-gradient(transparent 50%, #201d1c 50%);
  background-size: calc(2 * var(--unit)) calc(2 * var(--unit));
  -webkit-box-shadow: 0 2px 2px -1px #1e1a1b;
          box-shadow: 0 2px 2px -1px #1e1a1b;
}

.boombox .bb__body .top__sp__box {
  position: absolute;
  top: 4%;
  left: 1%;
  width: 27%;
  height: 36%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #2c2927), color-stop(50%, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2c2927), color-stop(50%, #47423f));
  background-image: linear-gradient(-90deg, #2c2927 50%, transparent 50%), linear-gradient(#2c2927 50%, #47423f 50%);
  background-size: calc(2 * var(--unit)) calc(2 * var(--unit));
  -webkit-box-shadow: 0 3px 2px -1px #1e1a1b;
          box-shadow: 0 3px 2px -1px #1e1a1b;
}

.boombox .bb__body .top__sp__box:nth-child(2) {
  left: 72%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.boombox .bb__body .top__sp__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #1e1b1b, #47423f);
  opacity: 0.4;
}

.boombox .bb__body .top__sp__box__leftsp {
  position: absolute;
  top: 8%;
  left: 9%;
  width: 45%;
  height: 61%;
  background: -webkit-gradient(linear, left bottom, left top, from(#929292), color-stop(#6c6c6c), color-stop(#929292), color-stop(#cfcfcf), color-stop(#dfdfdf), to(#cfcfcf));
  background: linear-gradient(0deg, #929292, #6c6c6c, #929292, #cfcfcf, #dfdfdf, #cfcfcf);
  -webkit-filter: drop-shadow(0 2px 0.8px #1e1a1b);
          filter: drop-shadow(0 2px 0.8px #1e1a1b);
}

.boombox .bb__body .top__sp__box__leftsp::before, .boombox .bb__body .top__sp__box__leftsp::after {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  content: "";
}

.boombox .bb__body .top__sp__box__leftsp:before {
  border-bottom: solid calc(3 * var(--unit)) #cfcfcf;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  bottom: 100%;
}

.boombox .bb__body .top__sp__box__leftsp:after {
  border-top: solid calc(3 * var(--unit)) #929292;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  top: 99%;
}

.boombox .bb__body .top__sp__box__leftsp__stick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 10%;
  background: #47423f;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 50px 50px 50px 50px;
  z-index: 3;
  -webkit-box-shadow: 0 2px 1px 0px #1e1a1b inset;
          box-shadow: 0 2px 1px 0px #1e1a1b inset;
}

.boombox .bb__body .top__sp__box__leftsp__stick::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 1%;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background: #000;
  border-radius: 50px 50px 50px 50px;
}

.boombox .bb__body .top__sp__box__leftsp__stick::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 1%;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background: #000;
  border-radius: 50px 50px 50px 50px;
}

.boombox .bb__body .top__sp__box__leftsp__stick:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.boombox .bb__body .top__sp__box__leftsp__mesh {
  position: absolute;
  opacity: 0.6;
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #dfdfdf;
  background-image: radial-gradient(transparent 50%, #201d1c 50%);
  background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
  z-index: 3;
}

.boombox .bb__body .top__sp__box__leftsp__inners {
  position: absolute;
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  border-radius: 100%;
  background: #393636;
  z-index: 3;
  -webkit-box-shadow: 0 2px 1px -1px #1e1a1b;
          box-shadow: 0 2px 1px -1px #1e1a1b;
}

.boombox .bb__body .top__sp__box__leftsp__inners__inner1 {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background: #4e4b4a;
}

.boombox .bb__body .top__sp__box__leftsp__inners__inner2 {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  background: linear-gradient(45deg, #6c6c6c, #929292, #cfcfcf, #dfdfdf);
}

.boombox .bb__body .top__sp__box__leftsp__inners__inner3 {
  position: absolute;
  width: 22%;
  height: 22%;
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #332f2d;
  background: linear-gradient(45deg, #6c6c6c, #929292, #cfcfcf, #dfdfdf);
}

.boombox .bb__body .top__sp__box__rightsp {
  position: absolute;
  top: 8%;
  right: 10%;
  width: 35%;
  height: 61%;
  background: -webkit-gradient(linear, left bottom, left top, from(#929292), color-stop(#6c6c6c), color-stop(#929292), color-stop(#cfcfcf), color-stop(#dfdfdf), to(#cfcfcf));
  background: linear-gradient(0deg, #929292, #6c6c6c, #929292, #cfcfcf, #dfdfdf, #cfcfcf);
  -webkit-filter: drop-shadow(0 2px 0.8px #1e1a1b);
          filter: drop-shadow(0 2px 0.8px #1e1a1b);
}

.boombox .bb__body .top__sp__box__rightsp::before, .boombox .bb__body .top__sp__box__rightsp::after {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  content: "";
}

.boombox .bb__body .top__sp__box__rightsp:before {
  border-bottom: solid calc(3 * var(--unit)) #cfcfcf;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  bottom: 100%;
}

.boombox .bb__body .top__sp__box__rightsp:after {
  border-top: solid calc(3 * var(--unit)) #929292;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  top: 99%;
}

.boombox .bb__body .top__sp__box__rightsp__mid {
  position: absolute;
  top: 49%;
  width: 44%;
  height: 115%;
  background: #332f2d;
  z-index: 3;
  border: calc(3 * var(--unit)) #201d1c #000;
}

.boombox .bb__body .top__sp__box__rightsp__mid__mesh {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background-image: radial-gradient(transparent 40%, #201d1c 50%);
  background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
  -webkit-box-shadow: 0 3px 2px -1px #1e1a1b;
          box-shadow: 0 3px 2px -1px #1e1a1b;
}

.boombox .bb__body .top__sp__box__rightsp__screw {
  position: absolute;
  width: calc(4 * var(--unit));
  height: calc(4 * var(--unit));
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #000;
  background: #47423f;
  z-index: 3;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(5) {
  top: -1%;
  left: 7%;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(2) {
  top: -1%;
  right: 7%;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(3) {
  bottom: -1%;
  right: 7%;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(4) {
  bottom: -1%;
  left: 7%;
}

.boombox .bb__body .top__sp__box__btm {
  position: absolute;
  bottom: 3%;
  right: 10%;
  width: 80%;
  height: 19%;
  background: linear-gradient(45deg, #929292, #6c6c6c, #929292, #cfcfcf, #dfdfdf, #cfcfcf);
  -webkit-filter: drop-shadow(0 2px 0.8px #1e1a1b);
          filter: drop-shadow(0 2px 0.8px #1e1a1b);
}

.boombox .bb__body .top__sp__box__btm__shade {
  position: absolute;
  width: 90%;
  height: 80%;
  background: #363834;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #141212), color-stop(40%, #363834), color-stop(80%, #141212));
  background: linear-gradient(#141212 0 20%, #363834 40% 60%, #141212 80% 100%);
}

.boombox .bb__body .top__sp__box__btm__light {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  border-radius: 100%;
  background: radial-gradient(#d48d8d 0 30%, #b74444 40% 60%);
}

.boombox .bb__body .top__sp__box__btm__light:last-child {
  left: 15%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(1) {
  left: 15%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(2) {
  left: 25%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(3) {
  left: 35%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(4) {
  left: 45%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(5) {
  left: 55%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(6) {
  left: 65%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(7) {
  left: 75%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(8) {
  left: 85%;
}

.boombox .bb__body .middle {
  position: absolute;
  bottom: 0%;
  left: 29.5%;
  width: 41%;
  height: 100%;
}

.boombox .bb__body .middle__section1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 28.5%;
  background: red;
}

.boombox .bb__body .middle__section2 {
  position: absolute;
  top: 28.5%;
  left: 0%;
  width: 100%;
  height: 14%;
}

.boombox .bb__body .middle__section3 {
  position: absolute;
  top: 42.5%;
  left: 0%;
  width: 100%;
  height: 22.5%;
}

.boombox .bb__body .middle__section3__box {
  position: absolute;
  top: 49%;
  width: 97%;
  height: 87%;
  border-radius: calc(1 * var(--unit));
  overflow: hidden;
}

.boombox .bb__body .middle__section3__box__cassets {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 40%;
  height: 100%;
  background: #443e40;
}

.boombox .bb__body .middle__section3__box__cassets__glare {
  position: absolute;
  top: 0%;
  left: -5%;
  width: 20%;
  height: 100%;
  background: #fff;
  opacity: 0.1;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
}

.boombox .bb__body .middle__section3__box__cassets::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 4px -1px white inset, 2px 0 2px -1px black inset, 0 -2px 2px -1px black inset;
          box-shadow: 1px 1px 4px -1px white inset, 2px 0 2px -1px black inset, 0 -2px 2px -1px black inset;
}

.boombox .bb__body .middle__section3__box__cassets__box {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 87%;
  background: #281e1d;
  overflow: hidden;
}

.boombox .bb__body .middle__section3__box__cassets__box .casset2__color {
  background: #e65946;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner {
  position: absolute;
  top: 17%;
  left: 9%;
  width: 100%;
  height: 69%;
  background: #54b39b;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 103.03% 66.81%, 56.84% 63.54%, 43.11% 98.36%, 0px 100%);
          clip-path: polygon(0% 0%, 100% 0%, 103.03% 66.81%, 56.84% 63.54%, 43.11% 98.36%, 0px 100%);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 95%;
  height: 95%;
  background: #453b3a;
  -webkit-clip-path: polygon(0% 1.64%, 100.3% 1.64%, 103.03% 64.36%, 58.05% 61.9%, 44.32% 98.36%, 0px 100%);
          clip-path: polygon(0% 1.64%, 100.3% 1.64%, 103.03% 64.36%, 58.05% 61.9%, 44.32% 98.36%, 0px 100%);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window {
  position: absolute;
  top: 10%;
  left: 14%;
  width: 45%;
  height: 70%;
  background: #b1b1b1;
  overflow: hidden;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__glare {
  position: absolute;
  opacity: 0.5;
  top: 10%;
  left: 14%;
  width: 45%;
  height: 70%;
  -webkit-box-shadow: 2px 2px 2px -1px #323232 inset, 5px 2px 2px 0px #323232 inset;
          box-shadow: 2px 2px 2px -1px #323232 inset, 5px 2px 2px 0px #323232 inset;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__glare .cassete2__shadow {
  -webkit-box-shadow: 2px 2px 2px -1px #323232 inset, -5px 2px 2px 0px #323232 inset !important;
          box-shadow: 2px 2px 2px -1px #323232 inset, -5px 2px 2px 0px #323232 inset !important;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1 {
  position: absolute;
  top: -2%;
  left: -11%;
  width: calc(18 * var(--unit));
  height: calc(18 * var(--unit));
  border-radius: 100%;
  background: #f0cb74;
  overflow: hidden;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1::after {
  content: "";
  position: absolute;
  width: calc(19 * var(--unit));
  height: calc(19 * var(--unit));
  border-radius: 100%;
  border: calc(2.2 * var(--unit)) solid #f0cb74;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__holes {
  position: absolute;
  width: 32%;
  height: 100%;
  background: #a78472;
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
          transform: translate(-50%, -50%) rotate(120deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  top: 0%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
  -webkit-box-shadow: 0px 2px 1px -1px #8e6a58 inset, 2px 0px 1px 0px #8e6a58 inset;
          box-shadow: 0px 2px 1px -1px #8e6a58 inset, 2px 0px 1px 0px #8e6a58 inset;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__holes:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(240deg);
          transform: translate(-50%, -50%) rotate(240deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__holes:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center {
  position: absolute;
  width: calc(5 * var(--unit));
  height: calc(5 * var(--unit));
  border-radius: 100%;
  background: #6c5652;
  border: calc(1 * var(--unit)) solid #b09e91;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center::after {
  content: "";
  position: absolute;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  border-radius: 100%;
  background: #6c5652;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots {
  position: absolute;
  width: 10%;
  height: 100%;
  background: #b09e91;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
          transform: translate(-50%, -50%) rotate(60deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
          transform: translate(-50%, -50%) rotate(120deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(240deg);
          transform: translate(-50%, -50%) rotate(240deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__dots:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(300deg);
          transform: translate(-50%, -50%) rotate(300deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape1__center__outline {
  position: absolute;
  width: calc(8 * var(--unit));
  height: calc(8 * var(--unit));
  border-radius: 100%;
  background: #f0cb74;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2 {
  position: absolute;
  top: 4%;
  left: 68%;
  width: calc(17 * var(--unit));
  height: calc(17 * var(--unit));
  border-radius: 100%;
  background: #f0cb74;
  overflow: hidden;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2::after {
  content: "";
  position: absolute;
  width: calc(18 * var(--unit));
  height: calc(18 * var(--unit));
  border-radius: 100%;
  border: calc(2 * var(--unit)) solid #f0cb74;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__holes {
  position: absolute;
  width: 32%;
  height: 100%;
  background: #a78472;
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
          transform: translate(-50%, -50%) rotate(120deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  top: 0%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
  -webkit-box-shadow: 0px 2px 1px -1px #8e6a58 inset, 2px 0px 1px 0px #8e6a58 inset;
          box-shadow: 0px 2px 1px -1px #8e6a58 inset, 2px 0px 1px 0px #8e6a58 inset;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__holes:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(240deg);
          transform: translate(-50%, -50%) rotate(240deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__holes:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center {
  position: absolute;
  width: calc(5 * var(--unit));
  height: calc(5 * var(--unit));
  border-radius: 100%;
  background: #6c5652;
  border: 2px solid #b09e91;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center::after {
  content: "";
  position: absolute;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  border-radius: 100%;
  background: #6c5652;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots {
  position: absolute;
  width: 10%;
  height: 100%;
  background: #b09e91;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
          transform: translate(-50%, -50%) rotate(60deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
          transform: translate(-50%, -50%) rotate(120deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(240deg);
          transform: translate(-50%, -50%) rotate(240deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__dots:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(300deg);
          transform: translate(-50%, -50%) rotate(300deg);
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__window__tape2__center__outline {
  position: absolute;
  width: calc(8 * var(--unit));
  height: calc(8 * var(--unit));
  border-radius: 100%;
  background: #f0cb74;
}

.boombox .bb__body .middle__section3__box__cassets__box__inner__in__label {
  position: absolute;
  top: 50%;
  left: 59%;
  width: 32%;
  height: 70%;
  background: #54b39b;
  overflow: hidden;
}

.boombox .bb__body .middle__section3__box__cassets__label1 {
  position: absolute;
  bottom: 6%;
  left: 10%;
  width: 27%;
  height: 5%;
  background: #fff;
}

.boombox .bb__body .middle__section3__box__cassets__label2__box {
  position: absolute;
  bottom: 6%;
  left: 38%;
  width: 54%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boombox .bb__body .middle__section3__box__cassets__label2__box .middle__section3__box__cassets__label2 {
  width: 24%;
  height: 100%;
  background: #281e1d;
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) {
  left: 60%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) .middle__section3__box__cassets__label2__box {
  position: absolute;
  bottom: 6%;
  left: 38%;
  width: 54%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) .middle__section3__box__cassets__label2__box .middle__section3__box__cassets__label2 {
  width: 24%;
  height: 100%;
  background: #281e1d;
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) .cassets2__label2__box {
  left: 10%;
  width: 80%;
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) .cassets2__label2__box .middle__section3__box__cassets__label2 {
  width: 16%;
  height: 100%;
  background: #281e1d;
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) .cassets2__label2__box .middle__section3__box__cassets__label2:nth-child(6) {
  background: #e65946;
}

.boombox .bb__body .middle__section3__box__cassets:nth-last-child(3) .cassets2__label2__box .middle__section3__box__cassets__label2:nth-child(5) {
  background: #fff;
}

.boombox .bb__body .middle__section3__box__mid {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 20%;
  height: 100%;
}

.boombox .bb__body .middle__section4 {
  position: absolute;
  top: 65%;
  left: 0%;
  width: 100%;
  height: 9%;
  background: linear-gradient(-45deg, #3b3a3d, #30292a);
  -webkit-box-shadow: 0px 2px 1px 0px #3b3a3d inset, 2px 0 2px 1px #242425 inset, 0 -5px 1px #242425 inset;
          box-shadow: 0px 2px 1px 0px #3b3a3d inset, 2px 0 2px 1px #242425 inset, 0 -5px 1px #242425 inset;
}

.boombox .bb__body .middle__section4__red {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 10.5%;
  height: 27%;
  background: #f25452;
  border-radius: 2px;
  -webkit-filter: drop-shadow(0 -3px 1px #1e1a1b);
          filter: drop-shadow(0 -3px 1px #1e1a1b);
}

.boombox .bb__body .middle__section4__red__grip {
  position: absolute;
  top: 60%;
  width: 95%;
  height: 60%;
  border: 1px solid #e25152;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(50%, #e25152)), -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #e25152));
  background: linear-gradient(transparent 0 50%, #e25152 50% 100%), linear-gradient(90deg, transparent 0 50%, #e25152 50% 100%);
  background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
}

.boombox .bb__body .middle__section4__switches {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 32%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 5px 3px -1px #1e1a1b, 0 10px 2px -1px #1e1a1b, 0 15px 3px -2px #1e1a1b, 0 17px 10px -2px #1e1a1b;
          box-shadow: 0 5px 3px -1px #1e1a1b, 0 10px 2px -1px #1e1a1b, 0 15px 3px -2px #1e1a1b, 0 17px 10px -2px #1e1a1b;
}

.boombox .bb__body .middle__section4__switches:nth-child(2n) {
  left: 64%;
}

.boombox .bb__body .middle__section4__switches__sw {
  width: 15.83333%;
  height: 100%;
  background: #e7f8fa;
  position: relative;
  -webkit-box-shadow: 0px 5px 1px 0px white inset, 0 -3px 2px #5c818b inset;
          box-shadow: 0px 5px 1px 0px white inset, 0 -3px 2px #5c818b inset;
}

.boombox .bb__body .middle__section4__switches__sw__grip {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 55%;
  border: 1px solid #d2dee1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(50%, #d2dee1)), -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #d2dee1));
  background: linear-gradient(transparent 0 50%, #d2dee1 50% 100%), linear-gradient(90deg, transparent 0 50%, #d2dee1 50% 100%);
  background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
}

.boombox .bb__body .middle__section5 {
  position: absolute;
  top: 74%;
  left: 0%;
  width: 100%;
  height: 26%;
  background: linear-gradient(20deg, #2e2d33, #585860 55% 60%, #2e2d33);
  -webkit-box-shadow: 0px 1px 1px 0px #585860 inset, 0px -3px 1px 1px #2e2d33 inset, 0 3px 3px #2e2d33 inset;
          box-shadow: 0px 1px 1px 0px #585860 inset, 0px -3px 1px 1px #2e2d33 inset, 0 3px 3px #2e2d33 inset;
}

.boombox .bb__body .middle__section5__center__lines {
  position: absolute;
  width: 48%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(17%, transparent));
  background: linear-gradient(#fff 0 17%, transparent 17% 100%);
  background-size: calc(1 * var(--unit)) calc(2 * var(--unit));
}

.boombox .bb__body .middle__section5__left__lines {
  position: absolute;
  left: 19%;
  width: 2.5%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(17%, transparent));
  background: linear-gradient(#fff 0 17%, transparent 17% 100%);
  background-size: calc(1 * var(--unit)) calc(2 * var(--unit));
  overflow: hidden;
}

.boombox .bb__body .middle__section5__left__lines::before {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 3%;
  left: 0%;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 calc(4 * var(--unit)) calc(30 * var(--unit)) 0;
  border-color: transparent #d4bbc1 transparent transparent;
}

.boombox .bb__body .middle__section5 .right__lines {
  left: 86.5%;
  -webkit-transform: rotateY(180deg) translate(-50%, -50%);
          transform: rotateY(180deg) translate(-50%, -50%);
}

.boombox .bb__body .middle__section5__right__lines {
  position: absolute;
  left: 80%;
  width: 2.5%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(17%, transparent));
  background: linear-gradient(#fff 0 17%, transparent 17% 100%);
  background-size: calc(1 * var(--unit)) calc(2 * var(--unit));
  overflow: hidden;
}

.boombox .bb__body .middle__section5__right__lines::before {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 3%;
  left: 0%;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: calc(15 * var(--unit)) calc(4 * var(--unit)) 0 0;
  border-color: #d4bbc1 transparent transparent transparent;
}

.boombox .bb__body .middle__section5__right__lines::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  bottom: 7%;
  left: 0%;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: calc(15 * var(--unit)) 0 0 calc(4 * var(--unit));
  border-color: transparent transparent transparent #d4bbc1;
}

.boombox .bb__body .middle__section5__big__eq {
  position: absolute;
  top: 15%;
  width: 2.5%;
  height: 70%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0e0e10), color-stop(20%, #38393f), to(#0b0b0d));
  background: linear-gradient(#0e0e10 0 15%, #38393f 20% 70%, #0b0b0d);
  overflow: hidden;
}

.boombox .bb__body .middle__section5__big__eq:nth-child(5) {
  left: 20%;
}

.boombox .bb__body .middle__section5__big__eq:nth-child(2n) {
  left: 77%;
}

.boombox .bb__body .middle__section5__big__eq:nth-child(3n + 1) {
  left: 85%;
}

.boombox .bb__body .middle__section5__big__eq__lv {
  position: absolute;
  top: 8%;
  left: 0%;
  width: 100%;
  height: 40%;
  background: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), color-stop(20%, #6c6c6c), color-stop(#dfdfdf), color-stop(#cfcfcf), color-stop(70%, #929292), to(#cfcfcf));
  background: linear-gradient(0deg, #cfcfcf 0% 15%, #6c6c6c 20% 23%, #dfdfdf, #cfcfcf, #929292 70% 72%, #cfcfcf);
  -webkit-box-shadow: 0 8px 5px -1px #0b0b0d;
          box-shadow: 0 8px 5px -1px #0b0b0d;
}

.boombox .bb__body .middle__section5__karaoke {
  position: absolute;
  bottom: 12%;
  right: 2%;
  width: 7%;
  height: 23%;
  background: #d4bbc1;
}

.boombox .bb__body .middle__section5__karaoke::after {
  content: "karaoke";
  position: absolute;
  top: 40%;
  right: -25%;
  width: 150%;
  height: 40%;
  background: #585860;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  font-size: 50%;
}

.boombox .bb__body .middle__section5__sm {
  position: relative;
  top: 15%;
  left: 29%;
  width: 41%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boombox .bb__body .middle__section5__sm__eq {
  width: 4%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0b0b0d), color-stop(20%, #38393f), to(#0b0b0d));
  background: linear-gradient(#0b0b0d 0 10%, #38393f 20% 70%, #0b0b0d);
  overflow: hidden;
}

.boombox .bb__body .middle__section5__sm__eq__lv {
  margin-top: 2px;
  width: 100%;
  height: 40%;
  background: -webkit-gradient(linear, left bottom, left top, from(#cfcfcf), color-stop(20%, #6c6c6c), color-stop(#dfdfdf), color-stop(#cfcfcf), color-stop(70%, #929292), to(#cfcfcf));
  background: linear-gradient(0deg, #cfcfcf 0% 15%, #6c6c6c 20% 23%, #dfdfdf, #cfcfcf, #929292 70% 72%, #cfcfcf);
  -webkit-box-shadow: 0 8px 5px -1px #0b0b0d;
          box-shadow: 0 8px 5px -1px #0b0b0d;
}

.boombox .bb__body .middle__section5__left {
  position: absolute;
  top: 11%;
  left: 2%;
  width: 14.5%;
  height: 35%;
  border-radius: calc(1 * var(--unit));
  border: calc(0.2 * var(--unit)) solid #fff;
  overflow: hidden;
}

.boombox .bb__body .middle__section5__left:nth-last-child(2) {
  top: 49%;
}

.boombox .bb__body .middle__section5__left__box {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 99%;
  height: 80%;
  background: #2e292a;
}

.boombox .bb__body .middle__section5__left__top {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 13%;
  background: #fff;
}

.boombox .bb__body .middle__section5__left__hole {
  position: absolute;
  top: 42%;
  left: 17%;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  border-radius: 100%;
  border: calc(0.7 * var(--unit)) solid #dfdfdf;
  background: #1e1b1b;
  -webkit-filter: drop-shadow(0 2px 0.8px #1e1a1b);
          filter: drop-shadow(0 2px 0.8px #1e1a1b);
}

.boombox .bb__body .middle__section5__left__hole:nth-last-child(2) {
  left: 74%;
}

.boombox .bb__body .middle__section5__right {
  position: absolute;
  top: 11%;
  right: 2%;
  width: 7%;
  height: 40%;
  border-radius: calc(1 * var(--unit));
  border: calc(0.2 * var(--unit)) solid #fff;
  overflow: hidden;
}

.boombox .bb__body .middle__section5__right__box {
  position: absolute;
  top: 22%;
  left: 0%;
  width: 99%;
  height: 65%;
  background: #2e292a;
}

.boombox .bb__body .middle__section5__right__top {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 13%;
  background: #fff;
}

.boombox .bb__body .middle__section5__right__hole {
  position: absolute;
  top: 42%;
  left: 35%;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  border-radius: 100%;
  border: calc(0.8 * var(--unit)) solid #dfdfdf;
  background: #1e1b1b;
}

.boombox .bb__body .middle__section5__right__hole:nth-last-child(2) {
  left: 74%;
}
/*# sourceMappingURL=style.css.map */