*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --size: 70;
  --unit: calc((var(--size) / 242) * 1vmin);
}

body {
  background: white;
  min-height: 100vh;
}

img {
  height: calc(var(--size) * 1vmin);
  opacity: 0.8;
}

img,
.boombox {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.transCenter, .boombox .bb__body .big__sp__box__out__edge__screw, .boombox .bb__body .big__sp__box__out__inner1, .boombox .bb__body .big__sp__box__out__inner2, .boombox .bb__body .big__sp__box__out__inner3, .boombox .bb__body .big__sp__box__out__inner4, .boombox .bb__body .big__sp__box__out__mesh, .boombox .bb__body .top__sp__box__leftsp__mesh, .boombox .bb__body .top__sp__box__leftsp__inners, .boombox .bb__body .top__sp__box__leftsp__inners__inner1, .boombox .bb__body .top__sp__box__leftsp__inners__inner2, .boombox .bb__body .top__sp__box__leftsp__inners__inner3, .boombox .bb__body .top__sp__box__rightsp__mid, .boombox .bb__body .top__sp__box__btm__shade {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.boombox {
  width: calc(362 * var(--unit));
  height: calc(242 * var(--unit));
  border: 2px solid red;
  overflow: hidden;
}

.boombox .bb__body {
  position: absolute;
  top: 14%;
  left: 2%;
  width: 96%;
  height: 72%;
  overflow: hidden;
}

.boombox .bb__body .big__sp {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 29%;
  height: 59%;
}

.boombox .bb__body .big__sp::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 3%;
  background: #1E1B1B;
}

.boombox .bb__body .big__sp__box {
  position: absolute;
  top: 2%;
  left: 4%;
  width: 92%;
  height: 93%;
  overflow: hidden;
}

.boombox .bb__body .big__sp__box__out {
  position: absolute;
  top: -5%;
  left: -7%;
  width: calc(106 * var(--unit));
  height: calc(106 * var(--unit));
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(45deg, #929292, #6C6C6C, #929292, #CFCFCF, #DFDFDF, #CFCFCF);
  -webkit-filter: drop-shadow(0 2px 0.8px #1E1A1B);
          filter: drop-shadow(0 2px 0.8px #1E1A1B);
}

.boombox .bb__body .big__sp__box__out__edge {
  position: absolute;
  width: 15%;
  height: 7%;
  background: #929292;
}

.boombox .bb__body .big__sp__box__out__edge::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 40%;
  background: linear-gradient(10deg, transparent 0 50%, #DFDFDF 50% 60%, #929292 100%);
}

.boombox .bb__body .big__sp__box__out__edge::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 0%;
  width: 100%;
  height: 40%;
  background: linear-gradient(-10deg, #6C6C6C 0, #929292 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(1) {
  top: 13%;
  left: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(2) {
  top: 13%;
  right: 10%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(2)::before {
  background: linear-gradient(10deg, transparent 0 50%, #929292 50% 60%, #6C6C6C 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(2)::after {
  background: linear-gradient(-10deg, #DFDFDF 0 20%, #CFCFCF 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(3) {
  bottom: 13%;
  right: 10%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(3)::before {
  background: linear-gradient(10deg, transparent 0 50%, #929292 50% 60%, #6C6C6C 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(3)::after {
  background: linear-gradient(-10deg, #929292 0, #DFDFDF 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(4) {
  bottom: 13%;
  left: 10%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(4)::before {
  background: linear-gradient(10deg, transparent 0 50%, #DFDFDF 50% 60%, #929292 100%);
}

.boombox .bb__body .big__sp__box__out__edge:nth-child(4)::after {
  background: linear-gradient(-10deg, #6C6C6C 0, #929292 50%, transparent 50% 100%);
}

.boombox .bb__body .big__sp__box__out__edge__screw {
  position: absolute;
  width: calc(4 * var(--unit));
  height: calc(4 * var(--unit));
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #DFDFDF;
  background: #929292;
}

.boombox .bb__body .big__sp__box__out__inner1 {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background: #393636;
}

.boombox .bb__body .big__sp__box__out__inner2 {
  position: absolute;
  width: 54%;
  height: 54%;
  border-radius: 100%;
  background: #4E4B4A;
}

.boombox .bb__body .big__sp__box__out__inner3 {
  position: absolute;
  width: 28%;
  height: 28%;
  border-radius: 100%;
  background: #929292;
}

.boombox .bb__body .big__sp__box__out__inner4 {
  position: absolute;
  width: 25%;
  height: 25%;
  border: calc(2 * var(--unit)) solid #393636;
  border-radius: 100%;
  background: linear-gradient(45deg, #929292, #6C6C6C, #929292, #CFCFCF, #DFDFDF, #CFCFCF);
}

.boombox .bb__body .big__sp__box__out__mesh {
  opacity: 0.7;
  position: absolute;
  width: 80%;
  height: 80%;
  border: calc(1 * var(--unit)) solid #B74444;
  border-radius: 100%;
  background-image: radial-gradient(transparent 50%, #201D1C 50%);
  background-size: calc(2 * var(--unit)) calc(2 * var(--unit));
  -webkit-box-shadow: 0 2px 2px -1px #1E1A1B;
          box-shadow: 0 2px 2px -1px #1E1A1B;
}

.boombox .bb__body .top__sp__box {
  position: absolute;
  top: 4%;
  left: 1%;
  width: 27%;
  height: 36%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #2c2927), color-stop(50%, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2c2927), color-stop(50%, #47423F));
  background-image: linear-gradient(-90deg, #2c2927 50%, transparent 50%), linear-gradient(#2c2927 50%, #47423F 50%);
  background-size: calc(2 * var(--unit)) calc(2 * var(--unit));
  -webkit-box-shadow: 0 3px 2px -1px #1E1A1B;
          box-shadow: 0 3px 2px -1px #1E1A1B;
}

.boombox .bb__body .top__sp__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #1E1B1B, #47423F);
  opacity: 0.4;
}

.boombox .bb__body .top__sp__box__leftsp {
  position: absolute;
  top: 8%;
  left: 9%;
  width: 45%;
  height: 61%;
  background: -webkit-gradient(linear, left bottom, left top, from(#929292), color-stop(#6C6C6C), color-stop(#929292), color-stop(#CFCFCF), color-stop(#DFDFDF), to(#CFCFCF));
  background: linear-gradient(0deg, #929292, #6C6C6C, #929292, #CFCFCF, #DFDFDF, #CFCFCF);
  -webkit-filter: drop-shadow(0 2px 0.8px #1E1A1B);
          filter: drop-shadow(0 2px 0.8px #1E1A1B);
}

.boombox .bb__body .top__sp__box__leftsp::before, .boombox .bb__body .top__sp__box__leftsp::after {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  content: "";
}

.boombox .bb__body .top__sp__box__leftsp:before {
  border-bottom: solid calc(3 * var(--unit)) #CFCFCF;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  bottom: 100%;
}

.boombox .bb__body .top__sp__box__leftsp:after {
  border-top: solid calc(3 * var(--unit)) #929292;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  top: 99%;
}

.boombox .bb__body .top__sp__box__leftsp__stick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 10%;
  background: #47423F;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 50px 50px 50px 50px;
  z-index: 3;
  -webkit-box-shadow: 0 2px 1px 0px #1E1A1B inset;
          box-shadow: 0 2px 1px 0px #1E1A1B inset;
}

.boombox .bb__body .top__sp__box__leftsp__stick::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 1%;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background: #000;
  border-radius: 50px 50px 50px 50px;
}

.boombox .bb__body .top__sp__box__leftsp__stick::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 1%;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background: #000;
  border-radius: 50px 50px 50px 50px;
}

.boombox .bb__body .top__sp__box__leftsp__stick:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.boombox .bb__body .top__sp__box__leftsp__mesh {
  position: absolute;
  opacity: 0.6;
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #DFDFDF;
  background-image: radial-gradient(transparent 50%, #201D1C 50%);
  background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
  z-index: 3;
}

.boombox .bb__body .top__sp__box__leftsp__inners {
  position: absolute;
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  border-radius: 100%;
  background: #393636;
  z-index: 3;
  -webkit-box-shadow: 0 2px 1px -1px #1E1A1B;
          box-shadow: 0 2px 1px -1px #1E1A1B;
}

.boombox .bb__body .top__sp__box__leftsp__inners__inner1 {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background: #4E4B4A;
}

.boombox .bb__body .top__sp__box__leftsp__inners__inner2 {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  background: linear-gradient(45deg, #6C6C6C, #929292, #CFCFCF, #DFDFDF);
}

.boombox .bb__body .top__sp__box__leftsp__inners__inner3 {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #332F2D;
  background: linear-gradient(45deg, #6C6C6C, #929292, #CFCFCF, #DFDFDF);
}

.boombox .bb__body .top__sp__box__rightsp {
  position: absolute;
  top: 8%;
  right: 10%;
  width: 35%;
  height: 61%;
  background: -webkit-gradient(linear, left bottom, left top, from(#929292), color-stop(#6C6C6C), color-stop(#929292), color-stop(#CFCFCF), color-stop(#DFDFDF), to(#CFCFCF));
  background: linear-gradient(0deg, #929292, #6C6C6C, #929292, #CFCFCF, #DFDFDF, #CFCFCF);
  -webkit-filter: drop-shadow(0 2px 0.8px #1E1A1B);
          filter: drop-shadow(0 2px 0.8px #1E1A1B);
}

.boombox .bb__body .top__sp__box__rightsp::before, .boombox .bb__body .top__sp__box__rightsp::after {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  content: "";
}

.boombox .bb__body .top__sp__box__rightsp:before {
  border-bottom: solid calc(3 * var(--unit)) #CFCFCF;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  bottom: 100%;
}

.boombox .bb__body .top__sp__box__rightsp:after {
  border-top: solid calc(3 * var(--unit)) #929292;
  border-left: solid calc(3 * var(--unit)) transparent;
  border-right: solid calc(3 * var(--unit)) transparent;
  top: 99%;
}

.boombox .bb__body .top__sp__box__rightsp__mid {
  position: absolute;
  top: 49%;
  width: 44%;
  height: 115%;
  background: #332F2D;
  z-index: 3;
  border: calc(3 * var(--unit)) #201D1C #000;
}

.boombox .bb__body .top__sp__box__rightsp__mid__mesh {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background-image: radial-gradient(transparent 40%, #201D1C 50%);
  background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
  -webkit-box-shadow: 0 3px 2px -1px #1E1A1B;
          box-shadow: 0 3px 2px -1px #1E1A1B;
}

.boombox .bb__body .top__sp__box__rightsp__screw {
  position: absolute;
  width: calc(4 * var(--unit));
  height: calc(4 * var(--unit));
  border-radius: 100%;
  border: calc(1 * var(--unit)) solid #000;
  background: #47423F;
  z-index: 3;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(5) {
  top: -1%;
  left: 7%;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(2) {
  top: -1%;
  right: 7%;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(3) {
  bottom: -1%;
  right: 7%;
}

.boombox .bb__body .top__sp__box__rightsp__screw:nth-child(4) {
  bottom: -1%;
  left: 7%;
}

.boombox .bb__body .top__sp__box__btm {
  position: absolute;
  bottom: 3%;
  right: 10%;
  width: 80%;
  height: 19%;
  background: linear-gradient(45deg, #929292, #6C6C6C, #929292, #CFCFCF, #DFDFDF, #CFCFCF);
  -webkit-filter: drop-shadow(0 2px 0.8px #1E1A1B);
          filter: drop-shadow(0 2px 0.8px #1E1A1B);
}

.boombox .bb__body .top__sp__box__btm__shade {
  position: absolute;
  width: 90%;
  height: 80%;
  background: #363834;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #141212), color-stop(40%, #363834), color-stop(80%, #141212));
  background: linear-gradient(#141212 0 20%, #363834 40% 60%, #141212 80% 100%);
}

.boombox .bb__body .top__sp__box__btm__light {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  border-radius: 100%;
  background: radial-gradient(#d48d8d 0 30%, #B74444 40% 60%);
}

.boombox .bb__body .top__sp__box__btm__light:last-child {
  left: 15%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(1) {
  left: 15%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(2) {
  left: 25%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(3) {
  left: 35%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(4) {
  left: 45%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(5) {
  left: 55%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(6) {
  left: 65%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(7) {
  left: 75%;
}

.boombox .bb__body .top__sp__box__btm__light:nth-child(8) {
  left: 85%;
}

.boombox .bb__body .middle {
  opacity: 0.3;
  position: absolute;
  bottom: 0%;
  left: 29.5%;
  width: 41%;
  height: 100%;
  border: 1px solid red;
}

.boombox .bb__body .middle__section1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 28.5%;
  background: red;
}

.boombox .bb__body .middle__section2 {
  position: absolute;
  top: 28.5%;
  left: 0%;
  width: 100%;
  height: 14%;
  background: orange;
}

.boombox .bb__body .middle__section3 {
  position: absolute;
  top: 42.5%;
  left: 0%;
  width: 100%;
  height: 22.5%;
  background: green;
}

.boombox .bb__body .middle__section4 {
  position: absolute;
  top: 65%;
  left: 0%;
  width: 100%;
  height: 9%;
  background: blue;
}

.boombox .bb__body .middle__section5 {
  position: absolute;
  top: 74%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: pink;
}
/*# sourceMappingURL=style.css.map */