///COLORS

$body: #47423F;
$body2: #332F2D;
$body3: #1E1B1B;
$bodyShadow: #1E1A1B;

$silver1: #DFDFDF;
$silver2: #CFCFCF;
$silver3: #929292;
$silver4: #6C6C6C;

$red1: #B74444;

$mesh: #201D1C;
$topspmesh: #363030;
$speakerInner: #393636;
$speakerInner2: #4E4B4A;

$btmLight1: #363834;
$btmLight2: #141212;



*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --size: 70;
    --unit: calc((var(--size) / 242) * 1vmin);
}

body {
    background: white;
    min-height: 100vh;
}

img {
    height: calc(var(--size) * 1vmin);
    opacity: 0.8;
}

img,
.boombox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.transCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boombox {
    width: calc(362 * var(--unit));
    height: calc(242 * var(--unit));
    border: 2px solid red;
    overflow: hidden;

    .bb__body {
        position: absolute;
        top: 14%;
        left: 2%;
        width: 96%;
        height: 72%;
        overflow: hidden;
        // background: linear-gradient($body 0% 2%, $body2 3% 97%, $body3 98% 100%);

        .big__sp {
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 29%;
            height: 59%;


            &::after {
                content: "";
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 100%;
                height: 3%;
                background: $body3;
            }

            &__box {
                position: absolute;
                top: 2%;
                left: 4%;
                width: 92%;
                height: 93%;
                overflow: hidden;



                //SPEAKER RIM
                &__out {
                    position: absolute;
                    top: -5%;
                    left: -7%;
                    width: calc(106 * var(--unit));
                    height: calc(106 * var(--unit));
                    border-radius: 100%;
                    overflow: hidden;
                    background: linear-gradient(45deg, $silver3, $silver4, $silver3, $silver2, $silver1, $silver2, );
                    filter: drop-shadow(0 2px 0.8px $bodyShadow);


                    //SCREWS 

                    &__edge {
                        position: absolute;
                        width: 15%;
                        height: 7%;
                        background: $silver3;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 0%;
                            width: 100%;
                            height: 40%;
                            background: linear-gradient(10deg, transparent 0 50%, $silver1 50% 60%, $silver3 100%);
                        }


                        &::after {
                            content: "";
                            position: absolute;
                            top: -30%;
                            left: 0%;
                            width: 100%;
                            height: 40%;
                            background: linear-gradient(-10deg, $silver4 0, $silver3 50%, transparent 50% 100%);
                        }


                        &:nth-child(1) {
                            top: 13%;
                            left: 10%;
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            top: 13%;
                            right: 10%;
                            transform: rotate(135deg);

                            &::before {
                                background: linear-gradient(10deg, transparent 0 50%, $silver3 50% 60%, $silver4 100%);
                            }


                            &::after {
                                background: linear-gradient(-10deg, $silver1 0 20%, $silver2 50%, transparent 50% 100%);
                            }
                        }


                        &:nth-child(3) {
                            bottom: 13%;
                            right: 10%;
                            transform: rotate(-135deg);

                            &::before {
                                background: linear-gradient(10deg, transparent 0 50%, $silver3 50% 60%, $silver4 100%);
                            }


                            &::after {
                                background: linear-gradient(-10deg, $silver3 0, $silver1 50%, transparent 50% 100%);
                            }
                        }

                        &:nth-child(4) {
                            bottom: 13%;
                            left: 10%;
                            transform: rotate(-45deg);

                            &::before {
                                background: linear-gradient(10deg, transparent 0 50%, $silver1 50% 60%, $silver3 100%);
                            }


                            &::after {
                                background: linear-gradient(-10deg, $silver4 0, $silver3 50%, transparent 50% 100%);
                            }

                        }



                        &__screw {
                            position: absolute;
                            @extend .transCenter;
                            width: calc(4 * var(--unit));
                            height: calc(4 * var(--unit));
                            border-radius: 100%;
                            border: calc(1 * var(--unit)) solid $silver1;
                            background: $silver3;
                        }
                    }

                    //SPEAKER Mesh

                    &__inner1 {
                        position: absolute;
                        @extend .transCenter;
                        width: 80%;
                        height: 80%;
                        border-radius: 100%;
                        background: $speakerInner;
                    }

                    &__inner2 {
                        position: absolute;
                        @extend .transCenter;
                        width: 54%;
                        height: 54%;
                        border-radius: 100%;
                        background: $speakerInner2;
                    }

                    &__inner3 {
                        position: absolute;
                        @extend .transCenter;
                        width: 28%;
                        height: 28%;
                        border-radius: 100%;
                        background: $silver3;
                    }

                    &__inner4 {
                        position: absolute;
                        @extend .transCenter;
                        width: 25%;
                        height: 25%;
                        border: calc(2 * var(--unit)) solid $speakerInner;
                        border-radius: 100%;
                        background: linear-gradient(45deg, $silver3, $silver4, $silver3, $silver2, $silver1, $silver2, );
                    }

                    &__mesh {
                        opacity: 0.7;
                        position: absolute;
                        @extend .transCenter;
                        width: 80%;
                        height: 80%;
                        border: calc(1 * var(--unit)) solid $red1;
                        border-radius: 100%;
                        background-image:
                            radial-gradient(transparent 50%, $mesh 50%);
                        background-size: calc(2 * var(--unit)) calc(2 * var(--unit));
                        box-shadow: 0 2px 2px -1px $bodyShadow;
                    }
                }
            }
        }

        ///TOP SPEAKER

        .top__sp__box {
            position: absolute;
            top: 4%;
            left: 1%;
            width: 27%;
            height: 36%;
            background-image:
                linear-gradient(-90deg, darken($body, 10%) 50%, transparent 50%),
                linear-gradient(darken($body, 10%) 50%, $body 50%);
            background-size: calc(2 * var(--unit)) calc(2 * var(--unit));
            box-shadow: 0 3px 2px -1px $bodyShadow;
            // display: none;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, $body3, $body);
                opacity: 0.4;
            }


            ///TOP LEFT SPEAKER

            &__leftsp {
                position: absolute;
                top: 8%;
                left: 9%;
                width: 45%;
                height: 61%;
                background: linear-gradient(0deg, $silver3, $silver4, $silver3, $silver2, $silver1, $silver2, );
                filter: drop-shadow(0 2px 0.8px $bodyShadow);

                &::before,
                &::after {
                    width: 100%;
                    height: 0;
                    display: block;
                    position: absolute;
                    left: 0;
                    content: "";
                }

                &:before {
                    border-bottom: solid calc(3 * var(--unit)) $silver2;
                    border-left: solid calc(3 * var(--unit)) transparent;
                    border-right: solid calc(3 * var(--unit)) transparent;
                    bottom: 100%;
                }

                &:after {
                    border-top: solid calc(3 * var(--unit)) $silver3;
                    border-left: solid calc(3 * var(--unit)) transparent;
                    border-right: solid calc(3 * var(--unit)) transparent;
                    top: 99%;
                }

                &__stick {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 120%;
                    height: 10%;
                    background: $body;
                    transform-origin: center;
                    transform: translate(-50%, -50%) rotate(45deg);
                    border-radius: 50px 50px 50px 50px;
                    z-index: 3;
                    box-shadow: 0 2px 1px 0px $bodyShadow inset;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 10%;
                        left: 1%;
                        width: calc(3 * var(--unit));
                        height: calc(3 * var(--unit));
                        background: #000;
                        border-radius: 50px 50px 50px 50px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 10%;
                        right: 1%;
                        width: calc(3 * var(--unit));
                        height: calc(3 * var(--unit));
                        background: #000;
                        border-radius: 50px 50px 50px 50px;
                    }

                    &:nth-child(2) {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }

                }

                &__mesh {
                    position: absolute;
                    opacity: 0.6;
                    @extend .transCenter;
                    width: calc(40 * var(--unit));
                    height: calc(40 * var(--unit));
                    border-radius: 100%;
                    border: calc(1 * var(--unit)) solid $silver1;
                    background-image:
                        radial-gradient(transparent 50%, $mesh 50%);
                    background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
                    z-index: 3;
                }

                &__inners {
                    position: absolute;
                    @extend .transCenter;
                    width: calc(40 * var(--unit));
                    height: calc(40 * var(--unit));
                    border-radius: 100%;
                    background: $speakerInner;
                    z-index: 3;
                    box-shadow: 0 2px 1px -1px $bodyShadow;

                    &__inner1 {
                        position: absolute;
                        @extend .transCenter;
                        width: 60%;
                        height: 60%;
                        border-radius: 100%;
                        background: $speakerInner2;
                    }

                    &__inner2 {
                        position: absolute;
                        @extend .transCenter;
                        width: 25%;
                        height: 25%;
                        border-radius: 100%;
                        background: linear-gradient(45deg, $silver4, $silver3, $silver2, $silver1, );
                    }

                    &__inner3 {
                        position: absolute;
                        @extend .transCenter;
                        width: 20%;
                        height: 20%;
                        border-radius: 100%;
                        border: calc(1 * var(--unit)) solid $body2;
                        background: linear-gradient(45deg, $silver4, $silver3, $silver2, $silver1, );
                    }
                }

            }

            ///TOP RIGHT SPEAKER

            &__rightsp {
                position: absolute;
                top: 8%;
                right: 10%;
                width: 35%;
                height: 61%;
                background: linear-gradient(0deg, $silver3, $silver4, $silver3, $silver2, $silver1, $silver2, );
                filter: drop-shadow(0 2px 0.8px $bodyShadow);


                &::before,
                &::after {
                    width: 100%;
                    height: 0;
                    display: block;
                    position: absolute;
                    left: 0;
                    content: "";
                }

                &:before {
                    border-bottom: solid calc(3 * var(--unit)) $silver2;
                    border-left: solid calc(3 * var(--unit)) transparent;
                    border-right: solid calc(3 * var(--unit)) transparent;
                    bottom: 100%;
                }

                &:after {
                    border-top: solid calc(3 * var(--unit)) $silver3;
                    border-left: solid calc(3 * var(--unit)) transparent;
                    border-right: solid calc(3 * var(--unit)) transparent;
                    top: 99%;


                }

                &__mid {
                    position: absolute;
                    @extend .transCenter;
                    top: 49%;
                    width: 44%;
                    height: 115%;
                    background: $body2;
                    z-index: 3;
                    border: calc(3 * var(--unit)) $mesh #000;

                    &__mesh {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 70%;
                        background-image:
                            radial-gradient(transparent 40%, $mesh 50%);
                        background-size: calc(1 * var(--unit)) calc(1 * var(--unit));
                        box-shadow: 0 3px 2px -1px $bodyShadow;
                    }
                }

                ///TOP RIGHT SPEAKER SCREWS

                &__screw {
                    position: absolute;
                    width: calc(4 * var(--unit));
                    height: calc(4 * var(--unit));
                    border-radius: 100%;
                    border: calc(1 * var(--unit)) solid #000;
                    background: $body;
                    z-index: 3;

                    &:nth-child(5) {
                        top: -1%;
                        left: 7%;
                    }

                    &:nth-child(2) {
                        top: -1%;
                        right: 7%;
                    }

                    &:nth-child(3) {
                        bottom: -1%;
                        right: 7%;
                    }

                    &:nth-child(4) {
                        bottom: -1%;
                        left: 7%;
                    }
                }

            }

            &__btm {
                position: absolute;
                bottom: 3%;
                right: 10%;
                width: 80%;
                height: 19%;
                background: linear-gradient(45deg, $silver3, $silver4, $silver3, $silver2, $silver1, $silver2, );
                filter: drop-shadow(0 2px 0.8px $bodyShadow);

                &__shade {
                    position: absolute;
                    @extend .transCenter;
                    width: 90%;
                    height: 80%;
                    background: $btmLight1;
                    background: linear-gradient($btmLight2 0 20%, $btmLight1 40% 60%, $btmLight2 80% 100%);
                }

                &__light {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: calc(3 * var(--unit));
                    height: calc(3 * var(--unit));
                    border-radius: 100%;
                    background: radial-gradient(lighten($red1, 20%) 0 30%, $red1 40% 60%);

                    &:last-child {
                        left: 15%;
                    }

                    @for $i from 1 to 9 {
                        &:nth-child(#{$i}) {
                            left: 5% + (10% * $i);
                        }
                    }
                }
            }
        }
    }


}